In [1]:
import pandas as pd

In [4]:
url = 'https://firms.modaps.eosdis.nasa.gov/api/countries/?format=html'

# countries_df contains names and abbreviations for countries with available data
# note: might remove ID column
countries_df = pd.read_html(url)[0]
countries_df.head()

   ID Abbreviation   Country name
0   1          ABW          Aruba
1   2          AFG    Afghanistan
2   3          AGO         Angola
3   4          AIA       Anguilla
4   6          ALA  Aland Islands